* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 2.5rem;
  color: var(--wp--preset--color--blue);
  font-weight: 800;
}

h2 {
  margin-bottom: 2rem;
  color: var(--wp--preset--color--primary);
  font-weight: 700;
}

h3 {
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}

main {
  @include contains-block-elements;
}

ul,
ol,
p {
  + h2,
  + h3 {
    margin-top: 2rem;
  }
}

strong {
  font-weight: 700;
}

.is-style-lead {
  font-size: $font-size-lg;
  font-weight: 600;
}

.spacing-outer,
.is-layout-constrained {
  padding-right: var(--wp--custom--spacing--outer) !important;
  padding-left: var(--wp--custom--spacing--outer) !important;
}

.spacing-outer .alignfull,
.spacing-outer > .wp-block-group.has-background,
.spacing-outer > .wp-block-cover,
.spacing-outer > .wp-block-template-part > .wp-block-group.has-background,
.spacing-outer > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
  width: unset;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
}

:where(.wp-block-columns.is-layout-flex) {
  gap: $grid-gutter-width;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}

.wp-block-group {
  overflow: hidden;

  @include heading-color-inherit;
}
